
body {
    background-color: #f8fafa;;
 }
 li{
     /* padding-right: .1rem; */
    
 }
 .navigation {
     display: flex;
     justify-content: space-between;
     padding-right: 2rem;
 }
 
 select {
     border: none;
     background-color: #fff;
 }
 .fa-solid {
     margin-right: 15px;
   
 }
 .nav1 > ul > li{
     margin: 1rem;
 }
 .nav1 > ul{
     display: flex;
     list-style: none;
 }
 .navigation > div > ul {
     display: flex;
     list-style: none;
 }
 .navigation > div > ul > li {
   margin: 1rem;
 }
 .navigation > div > ul > li > a {
     list-style: none;
     text-decoration: none;
     color: black;
     cursor: pointer;
 }
 .nav2 {
     background-color: #4c5b61;
     height: 3rem;
     border-radius: 25px;
     padding: .4rem 0rem;
 }
 .finder {
 padding:0 1.5rem;
 padding-left: 3rem;
 }
 .nav2 > ul {
     color: #fff;
     display: flex;
     justify-content: space-between;
     list-style: none;
 }
 .three1 {
    text-decoration: none;
    background-color: #4c5b61;
    justify-content: center;
    display: flex;
    border: none;
    color: #fff;
    flex-wrap: wrap;
}
.meet > h1 {
    margin-top: 6rem;
    color: #4c5b61;
    text-align: center;
}
.meet > p{
   
    font-weight: 500;
    margin-left: 3rem;
    background-color: #f8fafa;
    margin-top: 3rem;
}
.principle >img {
    margin-left: 3rem;
    margin-top: 3rem;
    width: 20rem;
    height: 15rem;
}
.guide > h2 {
    margin-left: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
}
.guide > p {
    margin-left: 3rem;
    font-weight: 500;
}

 .footer {
    background-color:  #4c5b61;
    margin-top: 1rem;
    color: #fff;
    padding: 3rem;
}
.footer1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    padding-right: 1rem;
}
    

.footer2 > ul  {
    display: block;
    text-align: left;
    list-style: none;

    
}
.footer2 > ul>li {
   margin-top: .8rem;

    
}
.footer2 > ul>li > a{
color: #fff; 
     text-decoration: none;
     cursor: pointer;
 }
.footer6 {
    text-align: center;
    align-items: center;
    padding-bottom: 2rem;
    color: #fff;
}
.footer6 > div > ul {
 display: flex;
 justify-content: center;
 list-style: none;

}

.footer6 > div > ul > li{
    margin: .8rem;
     
    }
    .footer6 > div > ul > li >i{
    font-size: 2rem;
      color: #fff;
      
     }
     .iecons > ul >li > a{
        color: white;
      }